.home .title{
    font-size: 1.3rem;
}

.home .btn {
  border: none;
  padding: 0 !important;
  text-decoration: none !important;
}

.home td, .home td .btn, .home th, .home caption{
  font-size: 0.7rem;
}
