body {
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

.navbar {
  color: #ffffff !important;
}

.app-bg {
  /* background-image: url("/img/bg.jpg"); */
  /* background-size: cover; */
  /* background-position: center;
  background-repeat: no-repeat; */
  min-height: 100vh;
  overflow-x: hidden;
}

/* Margin kiri 200px untuk layar lg ke atas */
@media (min-width: 992px) {
  .content {
    margin-top: 80px !important;
  }
}

@media (max-width: 767.98px) {
  .content {
    margin-top: 80px !important;
    margin-bottom: 90px !important;
  }
  .menu {
    border-radius: 30px 30px 0px 0px;
  }
  .menu i {
    font-size: 1.5rem;
  }
  .menu .label {
    font-size: 0.9rem;
  }
  .header .navbar-toggler-icon {
    width: 30px !important;
    height: 30px !important;
    background-size: contain !important;
  }
}
